<div id="<%= mission %>_panels" class="mission_panels_list <%= initially_hidden ? 'hidden' : '' %>">
<nav class="font-bold space-x-4 mb-6">
  <% panels.keys.each do |instrument| %>
    <a id="<%= mission %>_<%= instrument %>" data-mission="<%= mission %>" class="<%= mission %> instrument_option <%= instrument == panels.keys.first ? "instrument_selected" : "" %>"  href="#"><%= instrument %></a>
  <% end %>
</nav>

<div class="container mx-auto mt-3 px-4 py-2 max-w-[1500px] bg-white shadow-md">
<% panels.each_pair do |instrument, instrument_panels| %>
  <div id="<%= mission %>_<%= instrument %>_panels" class="<%= mission %>_instrument_panels_list <%= instrument == panels.keys.first ? '' : 'hidden' %>">
    <table class="panels_table">
      <tbody>
        <%= render partial: "panels/table_headers", locals: { mission: mission } %>
        <% instrument_panels.each do |panel| %>
          <%= render partial: "panels/panel", locals: { panel: panel, mission: mission } %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
</div>
</div>
