<span id="panels_heading" class="font-medium my-2 inline-block cursor-pointer">Panel selection <i class='fa fa-caret-down'></i></span>
<a href="#" id="clear_panel_selection" class="inline text-sm underline decoration-blue-500 text-blue-500">Clear panel selection</a>

<div id="panels">
  <div class="block w-full pb-1 mb-6">
    <nav id="missions" class="font-bold space-x-6 whitespace-nowrap">
      <a id="cluster" class="mission_option mission_selected" href="#"><%= image_tag "cluster-icon.png", width: "36", class: "inline" %> Cluster</a>
      <a id="double_star" class="mission_option" href="#"><%= image_tag "double-star-icon.png", width: "30", class: "inline" %> Double Star</a>
      <a id="data_mining" class="mission_option" href="#" title="One minute averaged parameters used in the data mining tool - https://caa.esac.esa.int/data-mining/"><i class="fa-solid fa-database text-red-900"></i> Cluster Data Mining</a>
    </nav>
  </div>

  <%= render partial: "panels/instrument_panels", locals: { mission: "cluster", panels: @cluster_panels_by_instrument, initially_hidden: false } %>
  <%= render partial: "panels/instrument_panels", locals: { mission: "double_star", panels: @double_star_panels_by_instrument, initially_hidden: true } %>
  <%= render partial: "panels/instrument_panels", locals: { mission: "data_mining", panels: @data_mining_panels_by_instrument, initially_hidden: true } %>
</div>
