<%= form_tag(generate_plots_path, method: :post, id: "plots_info", data: { "turbo-frame" => "plots" }) do %>
  <%= hidden_field_tag "plot[time_interval]", "2000-01-01T00:00:00Z 2000-01-01T00:00:00Z" %>
  <%= hidden_field_tag "plot[panels]", "" %>
  <%= hidden_field_tag "plot[zeroes]", "" %>
<% end %>

<div class="grid lg:grid-cols-3 gap-16 w-full grid-cols-1">
  <div class="block min-w-max">
    <span class="font-bold">Start time</span>
    <div class="block w-full pb-1">
      <% # datetime_select :start_datetime, params[:start_datetime], include_seconds: true, value: "2000-01-01T00:00:00"  %>
      <%= date_field_tag :start_date, params[:start_date] || "2000-01-01", min: "2000-01-01", max: "2024-12-31" %>
      <%= time_field_tag :start_time, params[:start_time] || "00:00:00", min: "00:00:00", step: 1, include_seconds: true %>
    </div>

    <span class="font-bold">Stop time</span>
    <div class="block w-full pb-1">
      <% # datetime_select :stop_datetime, params[:stop_datetime], min: "2000-01-01T00:00:10", max: "2024-12-31T00:00:10", include_seconds: true %>
      <%= date_field_tag :stop_date, (params[:stop_date] || "2000-01-01"), min: "2000-01-01", max: "2024-12-31" %>
      <%= time_field_tag 'stop_time', params[:stop_time] || "00:00:00", min: "00:00:00", step: 1, include_seconds: true %>
    </div>
    <a href="#" id="show_duration_heading" class="text-sm underline decoration-blue-400 text-blue-400">use duration intervals</a>
    <div id="duration_fields" class="block w-full pb-1 mt-2 hidden">
      <span class="font-bold">Duration:</span> <span class="text-sm">(Days / HH : MM : SS)</span>
      <a href="#" id="hide_duration_heading" class="text-sm underline decoration-blue-500 text-blue-500">hide</a><br>
      <%= select_tag :duration_days, options_for_select((0..100).map{|n| [n,n]}) %> /
      <%= select_tag :duration_hours, options_for_select((0..23).map{|n| [n,n]}) %> :
      <%= select_tag :duration_minutes, options_for_select((0..59).map{|n| [n,n]}) %> :
      <%= select_tag :duration_seconds, options_for_select((0..59).map{|n| [n,n]}) %>
      <br>
      <%= button_tag "<i class='fa fa-angles-left'></i> Previous interval".html_safe, type: "button", id: "previous_interval", class: "mt-2 form_button", title: "Select previous time interval" %>
      <%= button_tag "Next interval <i class='fa fa-angles-right'></i>".html_safe, type: "button", id: "next_interval", class: "mt-2 form_button", title: "Select next time interval" %>
    </div>

    <div class="block w-full mt-2 py-1">
      <%= button_tag "<i class='fa-duotone fa-solid fa-chart-area'></i> Plot panels".html_safe, type: "button", id: "submit_plots_info", class: "main_action_button" %>
      <div id="plot_times" class="text-slate-400" title="Click to edit">2000-01-01T00:00:00Z 2000-01-01T00:00:00Z</div>
      <div id="edit_plot_times" class="hidden">
        <input type="text" id="plot_times_new" class="w-2xs text-xs p-1" value="2000-01-01T00:00:00Z 2000-01-01T00:00:00Z"/>
        <span id="set_new_plot_times" class="inline cursor-pointer text-xs underline decoration-blue-500 text-blue-500">Apply</span>
      </div>
    </div>
  </div>

  <div class="lg:col-span-2 lg:mr-[100px]">
    <%= label_tag :panel_list, "Selected panels", class: "font-bold" %>
    <div class="block w-full pb-1">
      <%= select_tag :panel_list, options_for_select([]), multiple: true, class: "w-full h-44" %>
    </div>
    <div class="block w-full mt-2 py-1 float-right whitespace-nowrap">
      <%= button_tag "<i class='fa fa-angle-up'></i> <span class='hidden md:inline'>Up</span>".html_safe, type: "button", id: "move_panel_up", class: "form_button" %>
      <%= button_tag "<i class='fa fa-angle-down'></i> <span class='hidden md:inline'>Down</span>".html_safe, type: "button", id: "move_panel_down", class: "form_button" %>
      <%= button_tag "<i class='fa fa-minus'></i> <span class='hidden md:inline'>Remove</span>".html_safe, type: "button", id: "remove_panel", class: "form_button" %>
      <%= button_tag "<i class='fa fa-upload'></i> <span class='hidden md:inline'>Import</span>".html_safe, type: "button", id: "import_panel_list", class: "form_button" %>
      <%= button_tag "<i class='fa fa-file-arrow-down'></i> <span class='hidden md:inline'>Save selection</span>".html_safe, type: "button", id: "save_panel_list", class: "form_button" %>
      <input type="file" class="hidden" id="import_panels_file" accept=".csv"/>
    </div>
  </div>
</div>

<%= render "panels/mission_panels" %>

<turbo-frame id="plots">
  <%= render "plots/loading_plot_data" %>
  <div id="plots_container_wrapper"></div>
</turbo-frame>

<div data-controller="zoom" data-action="zoom_in@window->zoom#zoom_in">
  <%= hidden_field_tag "current_zoom", "" %>
  <%= hidden_field_tag "zoom_to", "" %>
  <%= hidden_field_tag "previous_zoom_chain", "" %>
</div>
