<turbo-frame id="plots">
  <%= render "plots/loading_plot_data" %>
  <div id="plots_container_wrapper">
    <div id="plots_container_header" class="font-bold space-x-4 mt-6 text-red-900">
      <i class='fa-duotone fa-solid fa-chart-line'></i> PLOTS
    </div>

    <% if @plot_info.nil? || @plot_info.is_a?(String) %>
      <div data-controller="chart-buttons" class="block w-full mt-2 py-1 whitespace-nowrap text-sm">
        <%= button_tag "<i class='fa fa-magnifying-glass-minus'></i> <span class='hidden md:inline'>Zoom back</span>".html_safe, type: "button", id: "zoom_out", class: "action_button hidden", data: { controller: "zoom", action: "click->zoom#zoom_back" }  %>
      </div>

      <div class="flex">
        <div id="plots_container" class="container mx-auto mt-3 px-4 py-2 max-w-[1400px] bg-white shadow-md grow">
          <div id="form-error-message" class="font-bold text-lg text-red-500 text-center my-[50px]">‼️ <%= @plot_info %></div>
        </div>
        <script>
          var status_processing_data = 'error';
        </script>
      </div>
    <% else %>
      <div id="panels_container" class="grid grid-cols-10 gap-0">
        <div id="main_plots_panel" class="col-span-10">
          <div data-controller="chart-buttons" class="block w-full mt-2 py-1 whitespace-nowrap text-sm">
            <%= button_tag "<i class='fa fa-grip-lines-vertical'></i> <span class='hidden md:inline'>Show crossline</span>".html_safe, type: "button", id: "show_crossline", class: "action_button", data: { action: "click->chart-buttons#show_crossline" } %>
            <%= button_tag "<i class='fa fa-ellipsis-vertical'></i> <span class='hidden md:inline'>Hide crossline</span>".html_safe, type: "button", id: "hide_crossline", class: "action_button hidden", data: { action: "click->chart-buttons#hide_crossline" }  %>
            <%= button_tag "<i class='fa fa-border-all'></i> <span class='hidden md:inline'>Display border</span>".html_safe, type: "button", id: "display_border", class: "action_button", data: { action: "click->chart-buttons#display_border" }  %>
            <%= button_tag "<i class='fa fa-border-none'></i> <span class='hidden md:inline'>Hide border</span>".html_safe, type: "button", id: "hide_border", class: "action_button hidden", data: { action: "click->chart-buttons#hide_border" }  %>
            <%= button_tag "<i class='fa fa-magnifying-glass-minus'></i> <span class='hidden md:inline'>Zoom back</span>".html_safe, type: "button", id: "zoom_out", class: "action_button hidden", data: { controller: "zoom", action: "click->zoom#zoom_back" }  %>
            <%= button_tag "<i class='fa fa-file-zipper'></i> <span class='hidden md:inline'>Download CEFs</span>".html_safe, type: "button", id: "download_cefs", class: "action_button", data: { controller: "cef-files", action: "click->cef-files#zip", cefs: ""}  %>

            <%= button_tag "<i class='fa fa-sliders'></i>".html_safe, type: "button", id: "show_adjusts", class: "action_button float-right hidden lg:inline", title: "Adjust plots", data: { action: "click->chart-buttons#show_adjusts_panel" }  %>
            <%= button_tag "<i class='fa fa-angles-right'></i>".html_safe, type: "button", id: "hide_adjusts", class: "action_button float-right hidden lg:hidden", title: "Hide adjusts panel", data: { action: "click->chart-buttons#hide_adjusts_panel" }  %>
          </div>

          <div class="flex">
            <div id="plots_container" class="container mx-auto mt-3 px-2 py-2 max-w-[1400px] bg-white shadow-md grow">
              <div id="title-chart" style="height: 50px"></div>
              <% @plot_info["panels_arr"].size.times do |i| %>
                <div id="highcharts_plot_<%= i %>"></div>
              <% end %>
              <div id="axis-chart" xstyle="height: 50px"></div>
            </div>
          </div>
        </div>

        <div id="adjusts_panel" class="col-span-0 h-full hidden whitespace-nowrap w-full pt-1 mt-2 ml-1" data-controller="chart-buttons">
          <div class="h-[115px]">
            <%= button_tag "<i class='fa fa-pen-to-square'></i> <span class='hidden lg:inline'>Change title</span>".html_safe, type: "button", id: "change_title_action", class: "action_button_small", data: { action: "click->chart-buttons#toggle_change_title_panel" }  %>
            <%= button_tag "<i class='fa fa-stopwatch'></i> <span class='hidden lg:inline'>Record timestamps</span>".html_safe, type: "button", id: "record_timestamps_action", class: "action_button_small", data: { action: "click->chart-buttons#toggle_record_timestamps_panel" }  %>

            <div id="change_title_mini_panel" class="mt-4 py-2 px-1 hidden">
              <input type="text" id="new_plot_title" class="w-[80%] text-sm px-1" value=""/>
              <%= button_tag "<i class='fa fa-repeat'></i>".html_safe, type: "button", class: "action_button_icon_small active", title: "Update title", data: { action: "click->chart-buttons#update_plots_title" } %>
            </div>

            <div id="record_timestamps_mini_panel" class="mt-4 px-1 hidden">
              <div class="grid-timestamps">
                <div class="a1">
                  <%= select_tag :recorded_timestamps, options_for_select([]), multiple: true, class: "w-full h-17 text-sm p-1" %>
                </div>
                <div class="b1">
                  <%= button_tag "<i class='fa fa-xmark'></i>".html_safe, type: "button", class: "action_button_icon_small active align-text-top", title: "Clear list", data: { action: "click->chart-buttons#clear_timestamps_list" } %>
                </div>
                <div class="b2">
                  <%= button_tag "<i class='fa fa-minus'></i>".html_safe, type: "button", class: "action_button_icon_small active align-text-top", title: "Delete time", data: { action: "click->chart-buttons#remove_timestamp" } %>
                </div>
                <div class="b3">
                  <%= button_tag "<i class='fa fa-download'></i>".html_safe, type: "button", class: "action_button_icon_small active align-text-top", title: "Download time listing", data: { action: "click->chart-buttons#save_timestamps_file" } %>
                </div>
              </div>
            </div>
          </div>

          <% @plot_info["panels_arr"].size.times do |i| %>
            <div id="controls_plot_<%= i %>" class="h-[250px]" data-controller="chart-buttons" data-nplot="<%= i %>" data-plottype="<%= @plot_info["panels_arr"][i]["panel_type"] %>">
            <% unless @plot_info["panels_arr"][i]["panel_type"] == "status" %>
              <span id="y_title_<%= i %>" class="panel_control" data-action="click->chart-buttons#toggle_edit_plot_control" data-chart-buttons-control-param="y_title">Y title <i id="y_title_<%= i %>_icon" class="float-right fa fa-caret-down"></i></span>
              <div id="edit_y_title_<%= i %>" class="py-4 px-1 border border-red-900 hidden">
                <input type="text" id="new_y_title_<%= i %>" class="w-[80%] text-sm ml-1 px-1 outline-offset-1" value="<%= @plot_info['panels_arr'][i]['subpanels'].first['ytitle'] %>"/>
                <%= button_tag "<i class='fa fa-repeat'></i>".html_safe, type: "button", class: "action_button_icon_small active", title: "Update title", data: { action: "click->chart-buttons#update_y_title" } %>
              </div>

              <% if @plot_info["panels_arr"][i]["panel_type"] == "line" %>
                <span id="y_axis_type_<%= i %>" class="panel_control" data-action="click->chart-buttons#toggle_edit_plot_control" data-chart-buttons-control-param="y_axis_type">Y axis type <i id="y_axis_type_<%= i %>_icon" class="float-right fa fa-caret-down"></i></span>
                <div id="edit_y_axis_type_<%= i %>" class="py-4 px-1 border border-red-900 hidden">
                  <label class="cursor-pointer block text-sm px-1 cursor-pointer text-red-900 hover:text-red-800 opacity-60 has-checked:opacity-100">
                    <input id="new_y_axis_type_<%= i %>_linear" type="radio" name="new_y_axis_type_<%= i %>" class="caret-red-900 accent-red-800 focus:border-0 focus:outline-0 bg-red-800 w-[0.75rem] h-[0.75rem]" <%= "checked" if @plot_info["panels_arr"][i]["subpanels"][0]["ytype"] == "linear" %> data-action="click->chart-buttons#update_y_axis_type" data-chart-buttons-axis-param="linear"> Linear
                  </label>
                  <label class="cursor-pointer block text-sm px-1 cursor-pointer text-red-900 hover:text-red-800 opacity-60 has-checked:opacity-100">
                    <input id="new_y_axis_type_<%= i %>_logarithmic" type="radio" name="new_y_axis_type_<%= i %>" class="caret-red-900 accent-red-800 focus:border-0 focus:outline-0 bg-red-800 w-[0.75rem] h-[0.75rem]" <%= "checked" if @plot_info["panels_arr"][i]["subpanels"][0]["ytype"] != "linear" %> data-action="click->chart-buttons#update_y_axis_type" data-chart-buttons-axis-param="logarithmic"> Logarithmic
                  </label>
                </div>

                <span id="y_range_<%= i %>" class="panel_control" data-action="click->chart-buttons#toggle_edit_plot_control" data-chart-buttons-control-param="y_range">Y range <i id="y_range_<%= i %>_icon" class="float-right fa fa-caret-down"></i></span>
                <div id="edit_y_range_<%= i %>" class="py-4 px-1 border border-red-900 hidden">
                  <label class="cursor-pointer block text-sm px-1 cursor-pointer text-red-900 hover:text-red-800 opacity-60 has-checked:opacity-100">
                    <input id="new_y_range_<%= i %>_default" type="radio" name="new_y_range_<%= i %>" class="caret-red-900 accent-red-800 focus:border-0 focus:outline-0 bg-red-800 w-[0.75rem] h-[0.75rem]" data-action="click->chart-buttons#update_line_y_range" data-chart-buttons-yrange-param="default" checked> Default scale
                  </label>
                  <label class="cursor-pointer block text-sm px-1 cursor-pointer text-red-900 hover:text-red-800 opacity-60 has-checked:opacity-100">
                    <input id="new_y_range_<%= i %>_auto" type="radio" name="new_y_range_<%= i %>" class="caret-red-900 accent-red-800 focus:border-0 focus:outline-0 bg-red-800 w-[0.75rem] h-[0.75rem]" data-action="click->chart-buttons#update_line_y_range" data-chart-buttons-yrange-param="auto"> Auto-scaling
                  </label>
                  <span class="block py-1 text-sm text-red-900">
                    <input type="text" id="min_y_range_<%= i %>" class="w-[30%] text-xs ml-1 px-1 outline-offset-1" value="<%= @plot_info['panels_arr'][i]['subpanels'].first['yrange_caa'][0] %>" data-default="<%= @plot_info['panels_arr'][i]['subpanels'].first['yrange_caa'][0] %>" data-auto="<%= @plot_info['panels_arr'][i]['subpanels'].first['yrange_hc'][0] %>"/>
                    to
                    <input type="text" id="max_y_range_<%= i %>" class="w-[30%] text-xs ml-1 px-1 outline-offset-1" value="<%= @plot_info['panels_arr'][i]['subpanels'].first['yrange_caa'][1] %>" data-default="<%= @plot_info['panels_arr'][i]['subpanels'].first['yrange_caa'][1] %>" data-auto="<%= @plot_info['panels_arr'][i]['subpanels'].first['yrange_hc'][1] %>"/>
                  </span>
                  <%= button_tag "<i class='fa fa-up-right-and-down-left-from-center'></i> Update".html_safe, type: "button", class: "action_button_icon_small ml-1 px-1 active", title: "Update Y range", data: { action: "click->chart-buttons#update_line_y_range", chart_buttons_yrange_param: "custom" } %>
                </div>

                <%= tag.span("Add Y=0 line", id: "y_zero_#{i}_on", data: { action: "click->chart-buttons#show_y_zero_line"}, class: "panel_link hidden", title: "Highlight Y=0 line (only valid for linear scale if 0 is included in the range)") %>
                <%= tag.span("Remove Y=0 line", id: "y_zero_#{i}_off", data: { action: "click->chart-buttons#hide_y_zero_line"}, class: "panel_link", title: "Remove Y=0 line") %>
              <% elsif @plot_info["panels_arr"][i]["panel_type"] == "spectrogram" %>
                <span id="y_range_<%= i %>" class="panel_control" data-action="click->chart-buttons#toggle_edit_plot_control" data-chart-buttons-control-param="y_range">Y range <i id="y_range_<%= i %>_icon" class="float-right fa fa-caret-down"></i></span>
                <div id="edit_y_range_<%= i %>" class="py-4 px-1 border border-red-900 hidden">
                  <label class="cursor-pointer block text-sm px-1 cursor-pointer text-red-900 hover:text-red-800 opacity-60 has-checked:opacity-100">
                    <input id="new_y_range_<%= i %>_default" type="radio" name="new_y_range_<%= i %>" class="caret-red-900 accent-red-800 focus:border-0 focus:outline-0 bg-red-800 w-[0.75rem] h-[0.75rem]" data-action="click->chart-buttons#update_spectogram_y_range" data-chart-buttons-yrange-param="default" checked> Default scale
                  </label>
                  <span class="block py-1 text-sm text-red-900">
                    <input type="text" id="min_y_range_<%= i %>" class="w-[30%] text-xs ml-1 px-1 outline-offset-1" value="<%= @plot_info['panels_arr'][i]['subpanels'].first['yrange_caa'][0] %>" data-default="<%= @plot_info['panels_arr'][i]['subpanels'].first['yrange'][0] %>" data-ytype="<%= @plot_info['panels_arr'][i]['subpanels'].first['ytype'] %>" />
                    to
                    <input type="text" id="max_y_range_<%= i %>" class="w-[30%] text-xs ml-1 px-1 outline-offset-1" value="<%= @plot_info['panels_arr'][i]['subpanels'].first['yrange_caa'][1] %>" data-default="<%= @plot_info['panels_arr'][i]['subpanels'].first['yrange'][1] %>"/>
                  </span>
                  <%= button_tag "<i class='fa fa-up-right-and-down-left-from-center'></i> Update".html_safe, type: "button", class: "action_button_icon_small ml-1 px-1 active", title: "Update Y range", data: { action: "click->chart-buttons#update_spectogram_y_range", chart_buttons_yrange_param: "custom" } %>
                </div>

                <span class="panel_control">Z range <i class="float-right fa fa-caret-down"></i></span>
              <% end %>
            <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <script>
        var chart_json_data = '<%= @plot_info.to_json.html_safe %>';
        var chart_start_datetime = '<%= @start_date + "T" + @start_time %>';
        var chart_stop_datetime = '<%= @stop_date + "T" + @stop_time %>';
      </script>
    <% end %>
  </div>
</turbo-frame>
