<turbo-frame id="plots">
  <%= render "plots/loading_plot_data" %>
  <div id="plots_container_wrapper">
    <div id="plots_container_header" class="font-bold space-x-4 mt-6 text-red-900">
      <i class='fa-duotone fa-solid fa-chart-line'></i> PLOTS
    </div>

    <% if @plot_info.nil? || @plot_info.is_a?(String) %>
      <div data-controller="chart-buttons" class="block w-full mt-2 py-1 whitespace-nowrap text-sm">
        <%= button_tag "<i class='fa fa-magnifying-glass-minus'></i> <span class='hidden md:inline'>Zoom back</span>".html_safe, type: "button", id: "zoom_out", class: "action_button hidden", data: { controller: "zoom", action: "click->zoom#zoom_back" }  %>
      </div>

      <div class="flex">
        <div id="plots_container" class="container mx-auto mt-3 px-4 py-2 max-w-[1400px] bg-white shadow-md grow">
          <div id="form-error-message" class="font-bold text-lg text-red-500 text-center my-[50px]">‼️ <%= @plot_info %></div>
        </div>
        <script>
          var status_processing_data = 'error';
        </script>
      </div>
    <% else %>
      <div id="panels_container" class="grid grid-cols-10 gap-0">
        <div id="main_plots_panel" class="col-span-10">
          <div data-controller="chart-buttons" class="block w-full mt-2 py-1 whitespace-nowrap text-sm">
            <%= button_tag "<i class='fa fa-grip-lines-vertical'></i> <span class='hidden md:inline'>Show crossline</span>".html_safe, type: "button", id: "show_crossline", class: "action_button", data: { action: "click->chart-buttons#show_crossline" } %>
            <%= button_tag "<i class='fa fa-ellipsis-vertical'></i> <span class='hidden md:inline'>Hide crossline</span>".html_safe, type: "button", id: "hide_crossline", class: "action_button hidden", data: { action: "click->chart-buttons#hide_crossline" }  %>
            <%= button_tag "<i class='fa fa-border-all'></i> <span class='hidden md:inline'>Display border</span>".html_safe, type: "button", id: "display_border", class: "action_button", data: { action: "click->chart-buttons#display_border" }  %>
            <%= button_tag "<i class='fa fa-border-none'></i> <span class='hidden md:inline'>Hide border</span>".html_safe, type: "button", id: "hide_border", class: "action_button hidden", data: { action: "click->chart-buttons#hide_border" }  %>
            <%= button_tag "<i class='fa fa-magnifying-glass-minus'></i> <span class='hidden md:inline'>Zoom back</span>".html_safe, type: "button", id: "zoom_out", class: "action_button hidden", data: { controller: "zoom", action: "click->zoom#zoom_back" }  %>
            <%= button_tag "<i class='fa fa-file-zipper'></i> <span class='hidden md:inline'>Download CEFs</span>".html_safe, type: "button", id: "download_cefs", class: "action_button", data: { controller: "cef-files", action: "click->cef-files#zip", cefs: ""}  %>

            <%= button_tag "<i class='fa fa-sliders'></i>".html_safe, type: "button", id: "show_adjusts", class: "action_button float-right hidden lg:inline", title: "Adjust plots", data: { action: "click->chart-buttons#show_adjusts_panel" }  %>
            <%= button_tag "<i class='fa fa-angles-right'></i>".html_safe, type: "button", id: "hide_adjusts", class: "action_button float-right hidden lg:hidden", title: "Hide adjusts panel", data: { action: "click->chart-buttons#hide_adjusts_panel" }  %>
          </div>


          <div class="flex">
            <div id="plots_container" class="container mx-auto mt-3 px-2 py-2 max-w-[1400px] bg-white shadow-md grow">
              <div id="title-chart" style="height: 50px"></div>
              <% if @plot_info.nil? || @plot_info.is_a?(String) %>
                <div id="form-error-message" class="font-bold text-red-500 text-center mb-[55px]">‼️ <%= @plot_info %></div>
              <% else %>
                <% @plot_info["panels_arr"].size.times do |i| %>
                  <div id="highcharts_plot_<%= i %>"></div>
                <% end %>
              <% end %>
              <div id="axis-chart" xstyle="height: 50px"></div>
            </div>
          </div>
        </div>

        <div id="adjusts_panel" class="col-span-0 h-full hidden whitespace-nowrap w-full pt-1 mt-2 ml-1" data-controller="chart-buttons">
          <div class="h-[116px]">
            <%= button_tag "<i class='fa fa-pen-to-square'></i> <span class='hidden lg:inline'>Change title</span>".html_safe, type: "button", id: "change_title_action", class: "action_button_small", data: { action: "click->chart-buttons#toggle_change_title_panel" }  %>
            <%= button_tag "<i class='fa fa-stopwatch'></i> <span class='hidden lg:inline'>Record timestamps</span>".html_safe, type: "button", id: "record_timestamps_action", class: "action_button_small", data: { action: "click->chart-buttons#toggle_record_timestamps_panel" }  %>

            <div id="change_title_mini_panel" class="mt-4 py-2 px-1 hidden">
              <input type="text" id="new_plot_title" class="w-[80%] text-sm px-1" value=""/>
              <%= button_tag "<i class='fa fa-repeat'></i>".html_safe, type: "button", class: "action_button_icon active", title: "Update title", data: { action: "click->chart-buttons#update_plots_title" } %>
            </div>

            <div id="record_timestamps_mini_panel" class="mt-4 px-1 hidden">
              <div class="grid-timestamps">
                <div class="a1">
                  <%= select_tag :recorded_timestamps, options_for_select([]), multiple: true, class: "w-full h-17 text-sm p-1" %>
                </div>
                <div class="b1">
                  <%= button_tag "<i class='fa fa-xmark'></i>".html_safe, type: "button", class: "action_button_icon_small active align-text-top", title: "Clear list", data: { action: "click->chart-buttons#clear_timestamps_list" } %>
                </div>
                <div class="b2">
                  <%= button_tag "<i class='fa fa-minus'></i>".html_safe, type: "button", class: "action_button_icon_small active align-text-top", title: "Delete time", data: { action: "click->chart-buttons#remove_timestamp" } %>
                </div>
                <div class="b3">
                  <%= button_tag "<i class='fa fa-download'></i>".html_safe, type: "button", class: "action_button_icon_small active align-text-top", title: "Download time listing", data: { action: "click->chart-buttons#save_timestamps_file" } %>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <script>
      var chart_json_data = '<%= @plot_info.to_json.html_safe %>';
      var chart_start_datetime = '<%= @start_date + "T" + @start_time %>';
      var chart_stop_datetime = '<%= @stop_date + "T" + @stop_time %>';
    </script>
   <% end %>
</turbo-frame>
