<turbo-frame id="plots">
  <%= render "plots/loading_plot_data" %>

   <div class="font-bold space-x-4 mt-6 text-red-900">
    <i class='fa-duotone fa-solid fa-chart-line'></i> PLOTS
  </div>

  <div id="plots_container" class="container mx-auto mt-3 px-4 py-2 max-w-[1400] bg-white shadow-md">
    <div id="title-chart" style="height: 50px"></div>
    <% @plot_info["panels_arr"].size.times do |i| %>
      <div id="highcharts_plot_<%= i %>"></div>
    <% end %>
    <div id="axis-chart" xstyle="height: 50px"></div>
  </div>

  <script>
    var chart_json_data = '<%= @plot_info.to_json.html_safe %>';
    var chart_start_datetime = '<%= @start_date + "T" + @start_time %>';
    var chart_stop_datetime = '<%= @stop_date + "T" + @stop_time %>';
  </script>
</turbo-frame>
