<turbo-frame id="plots">
  <%= render "plots/loading_plot_data" %>

   <div class="font-bold space-x-4 mt-6 text-red-900">
    <i class='fa-duotone fa-solid fa-chart-line'></i> PLOTS
  </div>

  <div id="plots_container" class="container mx-auto mt-3 px-4 py-2 max-w-[1400] bg-white shadow-md">
    <div id="title-chart" style="height: 50px"></div>
    <% if @plot_info.is_a? String %>
      <div class="text-red-500 text-center mt-4">
        <i class='fa-duotone fa-solid fa-exclamation-triangle'></i>
        <%= @plot_info %>
      </div>
    <% else %>
      <% @plot_info["panels_arr"].size.times do |i| %>
        <div id="echarts_plot_<%= i %>"></div>
      <% end %>
    <% end %>
    <div id="axis-chart" xstyle="height: 50px"></div>
  </div>

  <script>
    var chart_json_data = '<%= @plot_info.to_json.html_safe %>';
    var chart_start_datetime = '<%= @start_date + "T" + @start_time %>';
    var chart_stop_datetime = '<%= @stop_date + "T" + @stop_time %>';
  </script>
</turbo-frame>

<script>
  function show_plot(jsonData){
    // Extract data for the line plot
    const data = JSON.parse(jsonData);
    const plotData = data.panels_arr[0].subpanels[0].plot[0].data.map(point => ({
        value: [point[0], point[1]] // Timestamp and value
      }));

      // Initialize ECharts
      const chart = echarts.init(document.getElementById('echarts_plot'));

      // Configure the chart
      const option = {
        title: {
          text: data.panels_arr[0].label
        },
        tooltip: {
          trigger: 'axis'
        },
        xAxis: {
          type: 'time',
          name: data.panels_arr[0].xtitle
        },
        yAxis: {
          type: 'value', // Linear y-axis
          name: data.panels_arr[0].subpanels[0].ytitle
        },
        series: [
          {
            name: data.panels_arr[0].label,
            type: 'line',
            data: plotData
          }
        ]
      };

      // Render the chart
      chart.setOption(option);
  }
  show_plot('<%= @plot_data.to_json %>');
</script>
