<turbo-frame id="plots">
  <%= render "plots/loading_plot_data" %>
  <div id="plots_container_wrapper">
    <div id="plots_container_header" class="font-bold space-x-4 mt-6 text-red-900">
      <i class='fa-duotone fa-solid fa-chart-line'></i> PLOTS
    </div>

    <% if @plot_info.nil? || @plot_info.is_a?(String) %>
      <div data-controller="chart-buttons" class="block w-full mt-2 py-1 whitespace-nowrap text-sm">
        <%= button_tag "<i class='fa fa-magnifying-glass-minus'></i> <span class='hidden md:inline'>Zoom back</span>".html_safe, type: "button", id: "zoom_out", class: "action_button hidden", data: { controller: "zoom", action: "click->zoom#zoom_back" }  %>
      </div>

      <div class="flex">
        <div id="plots_container" class="container mx-auto mt-3 px-4 py-2 max-w-(--max-custom-width) bg-white shadow-md grow">
          <div id="form-error-message" class="font-bold text-lg text-red-500 text-center my-[50px]">‼️ <%= @plot_info %></div>
        </div>
        <script>
          var status_processing_data = 'error';
        </script>
      </div>
    <% else %>
      <div class="mt-2 text-sm">
        <%= button_tag "<i class='fa fa-magnifying-glass-minus'></i> <span class='hidden lg:inline'>Zoom back</span>".html_safe, type: "button", id: "zoom_out", class: "action_button hidden", data: { controller: "zoom", action: "click->zoom#zoom_back" }  %>
        <%= select_tag :save_plot, options_for_select([["PNG", "image/png"], ["JPEG", "image/jpeg"], ["PDF", "application/pdf"]]), prompt: "Save plot", class: "action_button download_icon font-medium", title: "Save plot", data: { controller: "chart-buttons", action: "change->chart-buttons#export_plot" } %>
        <%= button_tag "<i class='fa fa-file-zipper'></i> <span class='hidden lg:inline'>Download CEFs</span>".html_safe, type: "button", id: "download_cefs", title: "Download CEF files", class: "action_button font-medium", data: { controller: "cef-files", action: "click->cef-files#zip", cefs: ""}  %>
      </div>

      <div id="panels_container" class="grid grid-cols-10 gap-0">
        <div id="main_plots_panel" class="col-span-10">
          <div data-controller="chart-buttons" class="block w-full mt-1 py-1 whitespace-nowrap text-sm">
            <%= select_tag :grid_options, options_for_select([["All", "all"], ["Major", "major"], ["Off", "off"]]), prompt: "Grid", class: "action_button grid_icon", title: "Grid options", data: { action: "change->chart-buttons#grid_display" } %>
            <%= select_tag :line_thickness, options_for_select([["1 px", "1"], ["2 px", "2"], ["3 px", "3"], ["4 px", "4"]]), prompt: "Line", class: "action_button line_icon", title: "Select line thickness", data: { action: "change->chart-buttons#line_thickness" } %>
            <%= select_tag :font_size, options_for_select([["9 px", "9"], ["10 px", "10"], ["11 px", "11"], ["12 px", "12"], ["13 px", "13"], ["14 px", "14"], ["15 px", "15"], ["16 px", "16"]]), prompt: "Font size", class: "action_button font_icon", title: "Adjust font size", data: { action: "change->chart-buttons#font_size" } %>
            <%= button_tag "<i class='fa fa-grip-lines-vertical'></i> <span class='hidden xl:inline'>Show crossline</span>".html_safe, type: "button", id: "show_crossline", title: "Show crossline", class: "action_button", data: { action: "click->chart-buttons#show_crossline" } %>
            <%= button_tag "<i class='fa fa-ellipsis-vertical'></i> <span class='hidden xl:inline'>Hide crossline</span>".html_safe, type: "button", id: "hide_crossline", title: "Hide crossline", class: "action_button hidden", data: { action: "click->chart-buttons#hide_crossline" }  %>
            <%= button_tag "<i class='fa fa-border-all'></i> <span class='hidden xl:inline'>Display border</span>".html_safe, type: "button", id: "display_border", title: "Display border", class: "action_button", data: { action: "click->chart-buttons#display_border" }  %>
            <%= button_tag "<i class='fa fa-border-none'></i> <span class='hidden xl:inline'>Hide border</span>".html_safe, type: "button", id: "hide_border", title: "Remove border", class: "action_button hidden", data: { action: "click->chart-buttons#hide_border" }  %>
            <%= button_tag "<i class='fa fa-file-export'></i> <span class='hidden xl:inline'>Load options</span>".html_safe, type: "button", id: "import_options", title: "Import options from file", class: "action_button", data: { action: "click->chart-buttons#import_options" } %>
            <%= button_tag "<i class='fa fa-file-import'></i> <span class='hidden xl:inline'>Save options</span>".html_safe, type: "button", id: "export_options", title: "Export options to a file", class: "action_button", data: { action: "click->chart-buttons#export_options" } %>
            <%= image_tag "loading.gif", id: "loading_plot_options", alt: "Loading plot options", class: "w-[30px] hidden" %>

            <%= button_tag "<i class='fa fa-sliders'></i>".html_safe, type: "button", id: "show_adjusts", class: "action_button float-right hidden lg:inline", title: "Adjust plots", data: { action: "click->chart-buttons#show_adjusts_panel" }  %>
            <%= button_tag "<i class='fa fa-angles-right'></i>".html_safe, type: "button", id: "hide_adjusts", class: "action_button float-right hidden lg:hidden", title: "Hide adjusts panel", data: { action: "click->chart-buttons#hide_adjusts_panel" }  %>
            <input type="file" class="hidden" id="import_plot_options_file" accept=".json" data-action="change->chart-buttons#load_plot_options" />
          </div>

          <div class="flex">
            <div id="plots_container" class="container mx-auto mt-3 px-2 py-2 max-w-(--max-custom-width) bg-white shadow-md grow">
              <div id="title-chart" style="height: 50px"></div>
              <% @plot_info["panels_arr"].size.times do |i| %>
                <div id="highcharts_plot_<%= i %>"></div>
              <% end %>
              <div id="axis-chart" style="height: 50px"></div>
              <div id="spacecraft-info"></div>
            </div>
          </div>
        </div>

        <div id="adjusts_panel" class="col-span-0 h-full hidden whitespace-nowrap w-full pt-1 mt-2 ml-1" data-controller="chart-buttons">
          <div class="h-[115px]">
            <%= button_tag "<i class='fa fa-pen-to-square'></i> <span class='hidden xl:inline'>Change title</span>".html_safe, type: "button", id: "change_title_action", class: "action_button_small", data: { action: "click->chart-buttons#toggle_change_title_panel" }  %>
            <%= button_tag "<i class='fa fa-stopwatch'></i> <span class='hidden xl:inline'>Record timestamps</span>".html_safe, type: "button", id: "record_timestamps_action", class: "action_button_small", data: { action: "click->chart-buttons#toggle_record_timestamps_panel" }  %>

            <div id="change_title_mini_panel" class="mt-4 py-2 px-1 hidden">
              <input type="text" id="new_plot_title" class="w-[80%] text-sm px-1" value=""/>
              <%= button_tag "<i class='fa fa-repeat'></i>".html_safe, type: "button", class: "action_button_icon_small active", title: "Update title", data: { action: "click->chart-buttons#update_plots_title" } %>
            </div>

            <div id="record_timestamps_mini_panel" class="mt-4 px-1 hidden">
              <div class="grid-timestamps">
                <div class="a1">
                  <%= select_tag :recorded_timestamps, options_for_select([]), multiple: true, class: "w-full h-17 text-sm p-1" %>
                </div>
                <div class="b1">
                  <%= button_tag "<i class='fa fa-xmark'></i>".html_safe, type: "button", class: "action_button_icon_small active align-text-top", title: "Clear list", data: { action: "click->chart-buttons#clear_timestamps_list" } %>
                </div>
                <div class="b2">
                  <%= button_tag "<i class='fa fa-minus'></i>".html_safe, type: "button", class: "action_button_icon_small active align-text-top", title: "Delete time", data: { action: "click->chart-buttons#remove_timestamp" } %>
                </div>
                <div class="b3">
                  <%= button_tag "<i class='fa fa-download'></i>".html_safe, type: "button", class: "action_button_icon_small active align-text-top", title: "Download time listing", data: { action: "click->chart-buttons#save_timestamps_file" } %>
                </div>
              </div>
            </div>
          </div>

          <% @plot_info["panels_arr"].size.times do |i| %>
            <div id="controls_plot_<%= i %>" class="h-[250px]" data-controller="chart-buttons" data-nplot="<%= i %>" data-plottype="<%= @plot_info["panels_arr"][i]["panel_type"] %>" data-panelname="<%= @panel_names[i] %>">
            <% unless @plot_info["panels_arr"][i]["panel_type"] == "status" %>
              <span id="y_title_<%= i %>" class="panel_control" data-action="click->chart-buttons#toggle_edit_plot_control" data-chart-buttons-control-param="y_title">Y title <i id="y_title_<%= i %>_icon" class="float-right fa fa-caret-down"></i></span>
              <div id="edit_y_title_<%= i %>" class="py-4 px-1 border border-red-900 hidden">
                <input type="text" id="new_y_title_<%= i %>" class="w-[80%] text-sm panel_text" value="<%= @plot_info['panels_arr'][i]['subpanels'].first['ytitle'] %>"/>
                <%= button_tag "<i class='fa fa-repeat'></i>".html_safe, type: "button", id: "update_y_title_#{i}", class: "action_button_icon_small active", title: "Update title", data: { action: "click->chart-buttons#update_y_title" } %>
              </div>

              <% if @plot_info["panels_arr"][i]["panel_type"] == "line" %>
                <span id="y_axis_type_<%= i %>" class="panel_control" data-action="click->chart-buttons#toggle_edit_plot_control" data-chart-buttons-control-param="y_axis_type">Y axis type <i id="y_axis_type_<%= i %>_icon" class="float-right fa fa-caret-down"></i></span>
                <div id="edit_y_axis_type_<%= i %>" class="py-4 px-1 border border-red-900 hidden">
                  <label class="panel_label">
                    <input id="new_y_axis_type_<%= i %>_linear" type="radio" name="new_y_axis_type_<%= i %>" class="panel_radio" <%= "checked" if @plot_info["panels_arr"][i]["subpanels"][0]["ytype"] == "linear" %> data-action="click->chart-buttons#update_y_axis_type" data-chart-buttons-axis-param="linear"> Linear
                  </label>
                  <label class="panel_label">
                    <input id="new_y_axis_type_<%= i %>_logarithmic" type="radio" name="new_y_axis_type_<%= i %>" class="panel_radio" <%= "checked" if @plot_info["panels_arr"][i]["subpanels"][0]["ytype"] != "linear" %> data-action="click->chart-buttons#update_y_axis_type" data-chart-buttons-axis-param="logarithmic"> Logarithmic
                  </label>
                </div>

                <span id="y_range_<%= i %>" class="panel_control" data-action="click->chart-buttons#toggle_edit_plot_control" data-chart-buttons-control-param="y_range">Y range <i id="y_range_<%= i %>_icon" class="float-right fa fa-caret-down"></i></span>
                <div id="edit_y_range_<%= i %>" class="py-4 px-1 border border-red-900 hidden">
                  <label class="panel_label">
                    <input id="new_y_range_<%= i %>_default" type="radio" name="new_y_range_<%= i %>" class="panel_radio" data-action="click->chart-buttons#update_line_y_range" data-chart-buttons-yrange-param="default" checked> Default scale
                  </label>
                  <label class="panel_label">
                    <input id="new_y_range_<%= i %>_auto" type="radio" name="new_y_range_<%= i %>" class="panel_radio" data-action="click->chart-buttons#update_line_y_range" data-chart-buttons-yrange-param="auto"> Auto-scaling
                  </label>
                  <span class="block py-1 text-sm text-red-900">
                    <input type="text" id="min_y_range_<%= i %>" class="w-[30%] text-xs panel_text" value="<%= @plot_info['panels_arr'][i]['subpanels'].first['yrange_caa'][0] %>" data-default="<%= @plot_info['panels_arr'][i]['subpanels'].first['yrange_caa'][0] %>" data-auto="<%= @plot_info['panels_arr'][i]['subpanels'].first['yrange_hc'][0] %>"/>
                    to
                    <input type="text" id="max_y_range_<%= i %>" class="w-[30%] text-xs panel_text" value="<%= @plot_info['panels_arr'][i]['subpanels'].first['yrange_caa'][1] %>" data-default="<%= @plot_info['panels_arr'][i]['subpanels'].first['yrange_caa'][1] %>" data-auto="<%= @plot_info['panels_arr'][i]['subpanels'].first['yrange_hc'][1] %>"/>
                  </span>
                  <%= button_tag "<i class='fa fa-up-right-and-down-left-from-center'></i> Update".html_safe, type: "button", id: "update_y_range_#{i}", class: "action_button_icon_small ml-1 px-1 active", title: "Update Y range", data: { action: "click->chart-buttons#update_line_y_range", chart_buttons_yrange_param: "custom" } %>
                </div>

                <%= tag.span("Add Y=0 line", id: "y_zero_#{i}_on", data: { action: "click->chart-buttons#show_y_zero_line"}, class: "panel_link hidden", title: "Highlight Y=0 line (only valid for linear scale if 0 is included in the range)") %>
                <%= tag.span("Remove Y=0 line", id: "y_zero_#{i}_off", data: { action: "click->chart-buttons#hide_y_zero_line"}, class: "panel_link", title: "Remove Y=0 line") %>
              <% elsif @plot_info["panels_arr"][i]["panel_type"] == "spectrogram" %>
                <span id="y_range_<%= i %>" class="panel_control" data-action="click->chart-buttons#toggle_edit_plot_control" data-chart-buttons-control-param="y_range">Y range <i id="y_range_<%= i %>_icon" class="float-right fa fa-caret-down"></i></span>
                <div id="edit_y_range_<%= i %>" class="py-4 px-1 border border-red-900 hidden">
                  <label class="panel_label">
                    <input id="new_y_range_<%= i %>_default" type="radio" name="new_y_range_<%= i %>" class="panel_radio" data-action="click->chart-buttons#update_spectogram_y_range" data-chart-buttons-yrange-param="default" checked> Default scale
                  </label>
                  <span class="block py-1 text-sm text-red-900">
                    <input type="text" id="min_y_range_<%= i %>" class="w-[30%] text-xs panel_text" value="<%= @plot_info['panels_arr'][i]['subpanels'].first['yrange'][0] %>" data-default="<%= @plot_info['panels_arr'][i]['subpanels'].first['yrange'][0] %>" data-ytype="<%= @plot_info['panels_arr'][i]['subpanels'].first['ytype'] %>" />
                    to
                    <input type="text" id="max_y_range_<%= i %>" class="w-[30%] text-xs panel_text" value="<%= @plot_info['panels_arr'][i]['subpanels'].first['yrange'][1] %>" data-default="<%= @plot_info['panels_arr'][i]['subpanels'].first['yrange'][1] %>"/>
                  </span>
                  <%= button_tag "<i class='fa fa-up-right-and-down-left-from-center'></i> Update".html_safe, type: "button", id: "update_y_range_#{i}", class: "action_button_icon_small ml-1 px-1 active", title: "Update Y range", data: { action: "click->chart-buttons#update_spectogram_y_range", chart_buttons_yrange_param: "custom" } %>
                </div>

                <span id="z_range_<%= i %>" class="panel_control" data-action="click->chart-buttons#toggle_edit_plot_control" data-chart-buttons-control-param="z_range">Z range <i id="z_range_<%= i %>_icon" class="float-right fa fa-caret-down"></i></span>
                <div id="edit_z_range_<%= i %>" class="py-4 px-1 border border-red-900 hidden">
                  <label class="panel_label">
                    <input id="new_z_range_<%= i %>_default" type="radio" name="new_z_range_<%= i %>" class="panel_radio" data-action="click->chart-buttons#update_z_range" data-chart-buttons-zrange-param="default" checked> Default scale
                  </label>
                  <span class="block py-1 text-sm text-red-900">
                    <input type="text" id="min_z_range_<%= i %>" class="w-[30%] text-xs panel_text" value="<%= sprintf('%e', @plot_info['panels_arr'][i]['subpanels'].first['zrange'][0]) %>" data-default="<%= @plot_info['panels_arr'][i]['subpanels'].first['zrange'][0] %>"/>
                    to
                    <input type="text" id="max_z_range_<%= i %>" class="w-[30%] text-xs panel_text" value="<%= sprintf('%e', @plot_info['panels_arr'][i]['subpanels'].first['zrange'][1]) %>" data-default="<%= @plot_info['panels_arr'][i]['subpanels'].first['zrange'][1] %>"/>
                  </span>
                  <%= button_tag "<i class='fa fa-swatchbook'></i> Update".html_safe, type: "button", id: "update_z_range_#{i}", class: "action_button_icon_small ml-1 px-1 active", title: "Update Z range", data: { action: "click->chart-buttons#update_z_range", chart_buttons_zrange_param: "custom" } %>
                </div>

                <% if @plot_info['panels_arr'][i]['button'].present? %>
                  <% extra_filter = @plot_info['panels_arr'][i]['button'] %>
                  <span id="extra_filter_<%= i %>" class="panel_control" data-action="click->chart-buttons#toggle_edit_plot_control" data-chart-buttons-control-param="extra_filter"><%= extra_filter["title"] %> (<%= extra_filter["unit"] %>) <i id="extra_filter_<%= i %>_icon" class="float-right fa fa-caret-down"></i></span>
                  <div id="edit_extra_filter_<%= i %>" class="py-4 px-1 border border-red-900 hidden">
                    <span class="block py-1 text-sm text-red-900">
                      <input type="text" id="min_extra_filter_<%= i %>" class="w-[30%] text-xs panel_text" value="<%= extra_filter['value'][0] %>" data-default="<%= extra_filter['value'][0] %>"/>
                      to
                      <input type="text" id="max_extra_filter_<%= i %>" class="w-[30%] text-xs panel_text" value="<%= extra_filter['value'][1] %>" data-default="<%= extra_filter['value'][1] %>"/>
                    </span>
                    <%= button_tag "<i class='fa fa-swatchbook'></i> Update".html_safe, type: "button", id: "update_extra_filter_#{i}", class: "action_button_icon_small ml-1 px-1 active", title: "Update Extra Filter", data: { action: "click->chart-buttons#update_extra_filter" } %>
                  </div>
                <% end %>

              <% end %>
            <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <%= render "plots/spacecraft_info" %>

      <script>
        var chart_json_data = '<%= @plot_info.to_json.html_safe %>';
        var chart_start_datetime = '<%= @start_date + "T" + @start_time %>';
        var chart_stop_datetime = '<%= @stop_date + "T" + @stop_time %>';
      </script>
    <% end %>
  </div>
</turbo-frame>
