<turbo-frame id="plots">
  <%= render "plots/loading_plot_data" %>

  <div class="font-bold space-x-4 mt-6 text-red-900">
  <i class='fa-duotone fa-solid fa-chart-line'></i> PLOTS
  </div>
  <div id="plots_data" class="container mx-auto mt-3 px-4 py-2 max-w-7xl bg-white shadow-md">
    <p>Start date: <%= @start_date %></p>
    <p>Start time: <%= @start_time %></p>
    <p>Stop date: <%= @stop_date %></p>
    <p>Stop time: <%= @stop_time %></p>

    <ol>
      <% @p.each do |panel| %>
        <li><%= panel %></li>
      <% end %>
    </ol>
  </div>
  <div id="highcharts_plot"></div>
  <script>
    function show_plot(jsonData){
      // Extract data for the line plot
      const data = JSON.parse(jsonData);
      const plotData = data.panels_arr[0].subpanels[0].plot[0].data.map(point => ({
        x: point[0], // Timestamp
        y: point[1]  // Value
      }));

      // Render the Highcharts line plot
      Highcharts.chart('highcharts_plot', {
        chart: {
          type: 'line'
        },
        title: {
          text: data.panels_arr[0].label
        },
        xAxis: {
          type: 'datetime',
          title: {
            text: data.panels_arr[0].xtitle
          }
        },
        yAxis: {
          title: {
            text: data.panels_arr[0].subpanels[0].ytitle
          },
          type: data.panels_arr[0].subpanels[0].ytype // e.g., 'logarithmic'
        },
        series: [{
          name: data.panels_arr[0].label,
          data: plotData
        }]
      });
    }
    show_plot('<%= @plot_info.to_json.html_safe %>');
  </script>
</turbo-frame>


