<turbo-frame id="plots">
  <%= render "plots/loading_plot_data" %>
  <div id="plots_container_wrapper">
    <div id="plots_container_header" class="font-bold space-x-4 mt-6 text-red-900">
      <i class='fa-duotone fa-solid fa-chart-line'></i> PLOTS
    </div>

    <% if @plot_info.nil? || @plot_info.is_a?(String) %>
      <div data-controller="chart-buttons" class="block w-full mt-2 py-1 whitespace-nowrap text-sm">
        <%= button_tag "<i class='fa fa-magnifying-glass-minus'></i> <span class='hidden md:inline'>Zoom back</span>".html_safe, type: "button", id: "zoom_out", class: "action_button hidden", data: { controller: "zoom", action: "click->zoom#zoom_back" }  %>
      </div>

      <div class="flex">
        <div id="plots_container" class="container mx-auto mt-3 px-4 py-2 max-w-[1400px] bg-white shadow-md grow">
          <div id="form-error-message" class="font-bold text-lg text-red-500 text-center my-[50px]">‼️ <%= @plot_info %></div>
        </div>
        <script>
          var status_processing_data = 'error';
        </script>
      </div>
    <% else %>
      <div data-controller="chart-buttons" class="block w-full mt-2 py-1 whitespace-nowrap text-sm">
        <%= button_tag "<i class='fa fa-grip-lines-vertical'></i> <span class='hidden md:inline'>Show crossline</span>".html_safe, type: "button", id: "show_crossline", class: "action_button", data: { action: "click->chart-buttons#show_crossline" } %>
        <%= button_tag "<i class='fa fa-ellipsis-vertical'></i> <span class='hidden md:inline'>Hide crossline</span>".html_safe, type: "button", id: "hide_crossline", class: "action_button hidden", data: { action: "click->chart-buttons#hide_crossline" }  %>
        <%= button_tag "<i class='fa fa-border-all'></i> <span class='hidden md:inline'>Display border</span>".html_safe, type: "button", id: "display_border", class: "action_button", data: { action: "click->chart-buttons#display_border" }  %>
        <%= button_tag "<i class='fa fa-border-none'></i> <span class='hidden md:inline'>Hide border</span>".html_safe, type: "button", id: "hide_border", class: "action_button hidden", data: { action: "click->chart-buttons#hide_border" }  %>
        <%= button_tag "<i class='fa fa-magnifying-glass-minus'></i> <span class='hidden md:inline'>Zoom back</span>".html_safe, type: "button", id: "zoom_out", class: "action_button hidden", data: { controller: "zoom", action: "click->zoom#zoom_back" }  %>
      </div>

      <div class="flex">
        <div id="plots_container" class="container mx-auto mt-3 px-4 py-2 max-w-[1400px] bg-white shadow-md grow">
          <div id="title-chart" style="height: 50px"></div>
          <% if @plot_info.nil? || @plot_info.is_a?(String) %>
            <div id="form-error-message" class="font-bold text-red-500 text-center mb-[55px]">‼️ <%= @plot_info %></div>
          <% else %>
            <% @plot_info["panels_arr"].size.times do |i| %>
              <div id="highcharts_plot_<%= i %>"></div>
            <% end %>
          <% end %>
          <div id="axis-chart" xstyle="height: 50px"></div>
        </div>
      </div>
    </div>

    <script>
      var chart_json_data = '<%= @plot_info.to_json.html_safe %>';
      var chart_start_datetime = '<%= @start_date + "T" + @start_time %>';
      var chart_stop_datetime = '<%= @stop_date + "T" + @stop_time %>';
    </script>
   <% end %>
</turbo-frame>
