<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cluster Plots" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/cluster-icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/cluster-icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="antialiased text-slate-700 dark:text-slate-400 bg-zinc-100 dark:bg-slate-900">
    <%= render "shared/header" %>
    <main class="container mx-auto mt-3 py-4 max-w-7xl bg-zinc-50 shadow-md">
      <div class="w-full px-6 block">
        <%= yield %>
      </div>
    </main>
    <%= render "shared/footer" %>
    <script><!-- prevent FOUC -->0</script>
  </body>
</html>
