<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cluster Plots" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/cluster-icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/cluster-icon.png">

    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="antialiased text-slate-700 dark:text-slate-400 bg-zinc-100 dark:bg-slate-900">
    <%= render "shared/header" %>
    <main class="container mx-auto mt-3 py-4 max-w-7xl bg-zinc-50 shadow-md">
      <div class="w-full px-6 block">
        <%= yield %>
      </div>
    </main>
    <div class="bottom-1 w-full text-slate-400 mt-8 p-3 mx-auto fixed">
      <div class="mx-auto text-center w-fit">
        Copyright &copy; European Space Agency. All rights reserved.
      </div>
    </div>
  </body>
</html>
